/* imports */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap');
@import url('https://fonts.googleapis.com/css?family=B612+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');
/*---------*/

body,html{
  box-sizing: border-box;
  max-width: 100vw;
  overflow-x: hidden;
  width: 100vw;
  box-sizing: border-box; 
  padding: 0;
  margin: 0;
}
/* Top Block */
.top_block{
  box-sizing: border-box;
  overflow: hidden;
  height: 700px;
  max-width: 100vw;
  background:#FE7860;
}
.fill{
  flex-direction: column;
  display: flex;
  padding: 50px;
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: center;
  top: -100px;
  position: relative;
  width: 60%;
  height: 100%;
  background: #506cf0;
  -webkit-clip-path: inset(0% 0 round 0 800px 20px 0%);
  z-index: 3;
}
.min_fill{
  transform: translateY(-400px);
  right: 210px;
  z-index: 0;
  -webkit-clip-path: inset(0px 0% round 0 600px 0% 0%);
  position: absolute;
  background: #506cf0;
  width: 700px;
  height: 300px;
}

/* screen */
.phone_title{
  display: none;
}
.screen{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
  border-radius: 20px;
  left:550px;
  z-index: 0;
  position: absolute;
  width: 770px;
  height: 520px;
  background: #fbfbfb;
}
.border{
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 50px;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  border: 2px solid #474747;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border:hover .two{
  color: #506cf0; 
}
.border:hover .devs{
  color: #FE7860;
}
.border:hover .fiz{
  border-right: 10px solid #FE7860;
  border-left: 10px solid #506cf0;

}
.two{
  transition: .7s color;
  color: #FE7860;
}
.devs{
  transition: .7s color;
  color: #506cf0;
}
.fiz{
  transition: .7s;
  background: #506cf0;
  width: 1px;
  height: 5px;
  border-right: 10px solid #506cf0;
  border-left: 10px solid #FE7860;
}
/* menu */
.menu{
  position: relative;
  z-index: 12;
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.link{
  transition: .5s;
  clip-path: inset(0 0 round 20px 20px 20px 20px);
  background: #fff;
  width: 200px;
  height: 40px;
  font-size: 26px;
  color: #f3b200;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 180px;
  height: 60px;
  text-decoration: none;
  font-family: 'B612 Mono', monospace;
}
.link:hover{
  transform: scale(1.2)
}
.main_link{
  color: #f3b200
}
/* Mob Menu */
.mob-menu{
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 30;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 3px;
  justify-content: space-around;
  align-items: center;
  display: none;
  flex-direction: column;
  width: 44px;
  height: 44px;
  background: #fff;
}
.line{
  border-radius: 3px;
  border-radius: 5px;
  width: 100%;
  height: 3px;
  background: #f3b200;
}
/* text Styles */
.head_title{
  font-size: 34px;
  font-family: 'Titillium Web', sans-serif;
 font-weight: bold;
  color: aliceblue;
}
.head_txt{
  font-size: 18px;
  display: block;
  width: 500px;
  height: 300px;
  font-family: 'Titillium Web', sans-serif;
  color: aliceblue;
}
/* MAIN */
.main{
  margin-top: -2px;
  width: 100vw;
  min-height: 700px;
  background: #fff ;
}
.min_main_fill{
  -webkit-clip-path: inset(0 0 round 0 0px 320px 0px);
  width: 570px;
  height: 470px;
  background: #506cf0;
  position: absolute;
  left: 0;
}
.main_fill{
  -webkit-clip-path: inset(0 0 round 0 0 300px 0);
  width: 700px;
  height: 300px;
  background: #506cf0;
  position: absolute;
  right: 210px;
}
/*|||||||||||| ADAPTIVE ||||||||||||||*/

/* Little Phones */  @media only screen and (min-width : 320px) and (max-width : 480px) {
  
  /* MENU */
  .mob-menu{
    display: flex;
  }
  .menu{
    display: none;
  }
  /* TOP Block */
  .top_block{
    width: 100%;
    overflow: hidden;
  }
  .head_title{
    display: none;
  }
  .head_txt{
    display: none;
  }
  .fill{
    border-bottom-right-radius: 600px;
    top: 0px;
    -webkit-clip-path: inset(0 0px round 0px 600px 700px 0px);
    width: 350px;
    height: 600px;
  }
  .min_fill{
    left: 0;
    width: 300px;
    top: 800px;
  }
  .main_fill{
    width: 300px;
    left: 0;
  }
  .min_main_fill{
    display: none;
  }
  /* SCREEN */
  .screen{
    background: #000;
    padding: 7px;
    left: 180px;
    width: 170px;
    height: 340px;
    top: 160px;
    z-index:20;
  }
  .two{
    display: none;
  }
  .fiz{
    display: none;
  }
  .devs{
    display: none;
  }
  .border{
    border:none;
    background: #fff;
    box-sizing: border-box;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
   }
  .bang{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
    width: 50%;
    background: #000;
    height: 5px;
  }
  .phone_title{
    top: -15px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 50px;
    font-size: 30px;
  }
  .phone_title h3{
    color: #506cf0;
    height: 10px;
    margin: 0;
    display: block;
  }
  .phone_title h3:nth-child(1){
    color: #FE7860;
  }
  .home-line{
    margin-bottom: 5px;
    height: 4px;
    width: 50%;
    background: #000;
  }
  /*main*/
  
}